$primary: #fd7e14;
$secondary: #fecba1;
$info: #6c757d;
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

category-item {
    cursor: pointer;
}
recipe-item {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

.rounded-top-5 {
    border-radius: $border-radius-2xl $border-radius-2xl 0 0;
}

.list {
    counter-reset: list-number;
    div::before {
        counter-increment: list-number;
        content: counter(list-number);
        margin-right: ($spacer * 0.5) !important;
        margin-bottom: ($spacer * 0.5) !important;
        width: ($spacer * 2) !important;
        height: ($spacer * 2) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        background-color: $secondary;
        border-radius: $border-radius-pill;
        color: $dark;
    }
}
